
.bg p{
    text-align: justify;
    font-size: 18px;
    background-color: rgb(250, 244, 244);
    padding: 20px
}
.bg{
    background-color: aquamarine;
    padding: 20px;
    
    margin:40px 150px;
    border: 5px solid black;
    border-radius: 10px;
}
.bg small span{
    color:rgb(179, 215, 18);
}
.bg small{
        background-color:white;
        margin:0px 430px;
}
